<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened
  fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item>
        <i class="material-icons">
          home
        </i>
        Inicio
      </a>
      <a mat-list-item>
        <i class="material-icons">
          list
        </i>
        Produto
      </a>
      <a mat-list-item>
        <i class="material-icons">
          login
        </i>
        Login
      </a>
      <a mat-list-item>
        <i class="material-icons">
          person
        </i>
        Cadastro
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
