
<!--<mat-card class="info-card mat-elevation-z8">
  <mat-card-title>Cadastro de Produto</mat-card-title>
  <mat-card-content >
    <form  #formUser="ngForm" (ngSubmit)="ngSubmit()">
      <div >
        <mat-form-field >
          <input matInput type="text" class="form-control" placeholder="Name" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field >
          <input matInput type="text" class="form-control" placeholder="description" [(ngModel)]="product.description" name="description">
        </mat-form-field>
      </div>
      <div >
        <mat-form-field >
          <input matInput type="text" class="form-control" placeholder="logo" [(ngModel)]="product.logo" name="logo">
        </mat-form-field>
        <mat-form-field >
          <input matInput type="text" class="form-control" placeholder="manual" [(ngModel)]="product.manual" name="manual">
        </mat-form-field>
      </div>
      <div >
      <button mat-button color="primary" type="submit" (click)="createProduct()" >
        <mat-icon>done</mat-icon>Salvar
      </button>
      <button mat-button type="submit" (click)="cancel()" >
        <mat-icon>close</mat-icon>Cancelar
      </button>
    </div>
    </form>
  </mat-card-content>
</mat-card>-->


<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="center center">
    <mat-card class="info-card mat-elevation-z8" flex="80" >
      <mat-card-title>Alterar Produto</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="stretch" >
        <form fxLayout="column" fxLayoutAlign="start stretch" #formUser="ngForm" (ngSubmit)="ngSubmit()">
          <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start" >
            <mat-form-field fxFlex="45" >
              <input matInput type="text" class="form-control" value="" placeholder="Name" [(ngModel)]="product.name" name="name">
            </mat-form-field>
            <mat-form-field fxFlex="45">
              <input matInput type="text" class="form-control" value="" placeholder="Description" [(ngModel)]="product.description" name="description">
            </mat-form-field>
          </div>
          <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
            <mat-form-field fxFlex="45">
              <input matInput  type="text" class="form-control" value="" placeholder="Logo" [(ngModel)]="product.logo" name="logo">
            </mat-form-field>
            <mat-form-field fxFlex="45">
              <input matInput   type="text" class="form-control" value="" placeholder="Manual" [(ngModel)]="product.manual" name="manual">
            </mat-form-field>
          </div>
          <div  fxFlex="100"  fxLayout="row" fxLayoutAlign="center  center">
            <button mat-button color="primary" type="submit" (click)="updateProduct()" >
            <mat-icon>done</mat-icon>Salvar
          </button>
          <button mat-button type="submit" (click)="cancel()" >
            <mat-icon>close</mat-icon>Cancelar
          </button>
        </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
