<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="center center">
    <mat-card class="info-card mat-elevation-z8" flex="80" >
    <mat-card-title>Deletar Usuário</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="stretch" >
      <form fxLayout="column" fxLayoutAlign="start stretch" #formUser="ngForm" (ngSubmit)="ngSubmit()">
        <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start" >
          <mat-form-field fxFlex="45" >
            <input matInput type="text" class="form-control" value="" placeholder="Name" [(ngModel)]="user.name" name="name" disabled>
          </mat-form-field>
          <mat-form-field fxFlex="45">
            <input matInput type="text" class="form-control" value="" placeholder="Email" [(ngModel)]="user.email" name="email" disabled>
          </mat-form-field>
        </div>
        <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
          <mat-form-field fxFlex="45">
            <input matInput type="text" class="form-control" value="" placeholder="Senha" [(ngModel)]="user.password" name="password" disabled>
          </mat-form-field>

          <div class="mat-radio-group" fxFlex="45" fxLayout="column" fxLayoutAlign="space-between start">
          <mat-radio-group  fxFlex="45" fxLayout="row " fxLayoutAlign="space-between start" [(ngModel)]="user.adm" name="adm" disabled>
            <mat-radio-button value=false checked>Usuario</mat-radio-button>
            <mat-radio-button value=true >Administrador</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group  fxFlex="45" fxLayout="row " fxLayoutAlign="space-between start" [(ngModel)]="user.active" name="active" disabled>
            <mat-radio-button value=true checked>Ativo</mat-radio-button>
            <mat-radio-button value=false >Inativo</mat-radio-button>
          </mat-radio-group>
        </div>
        </div>
          <div  fxFlex="100"  fxLayout="row" fxLayoutAlign="center  center">
            <button mat-button color="warn" type="submit" (click)="deleteUser()" >
            <mat-icon>done</mat-icon>Confirmar
          </button>
          <button mat-button type="submit" (click)="cancel()" >
            <mat-icon>close</mat-icon>Cancelar
          </button>
        </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
