
<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="center center">
    <mat-card class="info-card mat-elevation-z8" flex="80" >
      <mat-card-title>Login</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="stretch" >
        <form fxLayout="column" fxLayoutAlign="start stretch" #formUser="ngForm" >
          <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start" >
            <mat-form-field fxFlex="45" >
              <input matInput type="text" class="form-control" value="" placeholder="Email" name="email">
            </mat-form-field>
            <mat-form-field fxFlex="45">
              <input matInput type="text" class="form-control" value="" placeholder="Senha" name="password">
            </mat-form-field>
          </div>
          <div  fxFlex="100"  fxLayout="row" fxLayoutAlign="center  center">
            <button mat-raised-button>
              Login
            </button>
          <button mat-raised-button (click)="navigateToUserCreate()">
            Novo cadastro
          </button>
        </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
